<!DOCTYPE html>
<html>
  <head>
    <title>Chat Server</title>

    <!-- TODO require.js? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <style>
      body {
        margin-left:16px;
      }
      h1 {
        margin:4px 0px 12px;
      }
      div {
        padding:4px 2px;
      }
      a {
        margin:0px 12px 0px 0px;
      }
      p {
        margin:14px 0px 8px;
      }
      h4 {
        margin:6px 2px;
        display:inline-block;
      }
      .status {
        margin-left:2px;
      }
      .closeDialog {
        float:right;
        margin-top:6px;
      }
      .chatDialog {
        display:inline-block;
        border:black solid 2px;
        margin-top:14px;
      }
      .chatBox {
        height:250px;
        width:180px;
        position:relative;
        overflow:hidden;
        border-top:black solid 1px;
      }
      .chatLog {
        width:100%;
        position:absolute;
        bottom:30px;
        left:0;
        overflow:hidden;
        word-wrap:break-word;
      }
      .chatForm {
        position:absolute;
        bottom:0;
      }
    </style>

    <!-- MODEL -->
    <script type="text/javascript">
      var socket;

      var User = Backbone.Model.extend({
        defaults: {
          name: ""
        },

        localStorage: new Backbone.LocalStorage("user"),

        setName: function(username) {
          this.set({name: username});
          this.save();

          socket.emit('register me', username) 
        },

        initialize: function() {
          socket.on('request population', function(){
            if (this.get('name')) {
              socket.emit('register me', user.get('name'));
            }
          }.bind(this));
        }
      });
      var user;

      var Friend = Backbone.Model.extend({
        defaults: {
          name: ""
        },
        idAttribute: "name"
      });
      var FriendList = Backbone.Collection.extend({
        model: Friend,

        comparator: function(model) {
          return model.get("name");
        },

        initialize: function() {
          socket.on('register one', function(username) {
            if (username != user.get('name')) {
              this.add({name: username});
            }
          }.bind(this));

          socket.on('deregister one', function(username) {
            this.remove({name: username});
          }.bind(this));
        },

        online: function() {
          return this.map(function(model) {
            return model.get('name');
          });
        }
      });
      var friendList;

      var ChatLog = Backbone.Model.extend({
        defaults: {
          name: "",
          visible: true,
          log: []
        },

        idAttribute: "name",

        appendMessage: function(messageString) {
          this.set({log: this.get('log').concat(messageString)});
          this.save();
        },

        sendMessage: function(message) {
          socket.emit('message', {
            from: user.get('name'),
            recipient: this.get('name'),
            message: message
          });
        }
      });
      var ChatLogList = Backbone.Collection.extend({
        model: ChatLog,
        localStorage: new Backbone.LocalStorage("chatLogList"),

        comparator: function(model) {
          return model.get("name");
        },

        getOrCreate: function(name) {
          if (this.get({name: name}))
            return this.get({name: name});

          return this.add({name: name});
        },

        visible: function() {
          return this.filter(function(chatLog) {
            return chatLog.get('visible');
          });
        },

        initialize: function() {
          socket.on('message', function(data) {
            var peer;
            if (data.recipient == user.get('name')) {
              peer = data.from;
            } else if (data.from == user.get('name')) {
              peer = data.recipient;
            } else {
              console.log('misrouted message!!');
              return;
            }

            var chatLog = this.getOrCreate(peer);
            chatLog.set({visible: true});
            chatLog.appendMessage(data.from + ': ' + data.message);
          }.bind(this));

          socket.on('deregister one', function(username) {
            this.getOrCreate(username).set({visible: false});
          }.bind(this));
        },

        openConversation: function(name) {
          this.getOrCreate(name).set({visible: true});
        },

        closeConversation: function(name) {
          this.getOrCreate(name).set({visible: false});
        }
      });
      var chatLogList;

      $(document).ready(function() {
        socket = io.connect();

        user = new User({id: 1});
        user.fetch();

        friendList = new FriendList();

        chatLogList = new ChatLogList();
        chatLogList.fetch();
        chatLogList.each(function (chatLog) {
          chatLog.set({visible: false});
        });

        socket.on('connect', function(){
          socket.emit('request population');
        });
      });

      $(window).unload(function() {
        if (user.get('name')) {
          socket.emit('deregister me', user.get('name'));
        }
      });
    </script>
  </head>
  <body>
    <div id="content"></div>

    <!-- VIEW -->
    <script type="text/jsx">
      var Login = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          user.setName(React.findDOMNode(this.refs.username).value);
        },

        render: function() {
          return (
            <form onSubmit={this.handleSubmit}>
              <label>Name: <input type="text" placeholder="username" ref="username" />
              </label>
            </form>
          );
        }
      });

      var Population = React.createClass({
        render: function() {
          if (this.props.friendList.length == 0)
            return <p className="status">No Other Users Online</p>;

          return (
            <div>
              {this.props.friendList.map(function (friendName) {
                return <a href="#" key={friendName}
                          onClick={function() {chatLogList.openConversation(friendName);}}>{friendName}</a>;
              })}
            </div>
          );
        }
      });

      var Conversation = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var messageBox = React.findDOMNode(this.refs.message)
          this.props.model.sendMessage(messageBox.value);
          messageBox.value = '';
        },

        render: function() {
          return (
            <div className="chatDialog">
              <h4>{this.props.model.get('name')}</h4>
              <a className="closeDialog" href="#"
                 onClick={function() {this.props.model.set({visible: false})}.bind(this)}>x</a>
              <div className="chatBox">
                <div className="chatLog">
                  {this.props.model.get('log').map(function (message, index) {
                    return <p key={index}>{message}</p>;
                  })}
                </div>
                <form className="chatForm" onSubmit={this.handleSubmit}>
                  <input type="text" placeholder="message" ref="message" />
                </form>
              </div>
            </div>
          );
        }
      });

      var Main = React.createClass({
        getInitialState: function() {
          return {username: user.get('name'),
                  friendList: friendList.online(),
                  conversations: chatLogList.visible()};
        },
        componentDidMount: function() {
          //TODO investigate if this is best way to hook in changes
          user.on('change:name', function(model) {this.setState({username: model.get('name')});}.bind(this));

          var updateFriendList = function(model) {this.setState({friendList: friendList.online()});}.bind(this)
          friendList.on('add', updateFriendList);
          friendList.on('remove', updateFriendList);

          var updateChatLogList = function(model) {this.setState({conversations: chatLogList.visible()});}.bind(this);
          chatLogList.on('add', updateChatLogList);
          chatLogList.on('change', updateChatLogList);
        },
        render: function() {
          var header = <h1>Chat Server</h1>;

          if (! this.state.username)
            return (
              <div>
                {header}
                <Login />
                <p>Please login</p>
              </div>
            );

          return (
            <div>
              {header}
              <p className="status">Logged in as: <b>{this.state.username}</b></p>
              <Population friendList={this.state.friendList} />
              {this.state.conversations.map(function (chatLog) {
                return <Conversation model={chatLog} key={chatLog.get('name')} />;
              })}
            </div>
          );
        }
      });

      React.render(<Main />, document.getElementById('content'));
    </script>
  </body>
</html>
