<!DOCTYPE html>
<html>
  <head>
    <title>Chat Server</title>
    <!-- TODO require.js? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <style>
      h1 {
        margin-top:4px;
      }
      div {
        padding:4px;
      }
      a {
        margin:6px;
      }
      h4 {
        margin-top:6px;
        display:inline-block;
      }
      .closeDialog {
        float:right;
      }
      .chatDialog {
        display:inline-block;
      }
      .chatBox {
        height:250px;
        width:180px;
        position:relative;
        overflow:hidden;
      }
      .chatLog {
        width:100%;
        position:absolute;
        bottom:30px;
        left:0;
        overflow:hidden;
        word-wrap:break-word;
      }
      .chatForm {
        position:absolute;
        bottom:0;
      }
    </style>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">
      var socket;

      var User = Backbone.Model.extend({
        defaults: {
          name: ''
        },
        localStorage: new Backbone.LocalStorage("user")
      });
      var user = new User({id: 1});

      //TODO: React-y way?
      $(document).ready(function() {
        socket = io.connect();
        socket.on('connect', function(){
          socket.emit('request population');
        });
        socket.on('request population', function(){
          if (user.get('name')) {
            socket.emit('register me', user.get('name'));
          }
        });
      });

      //TODO: React-y way?
      $(window).unload(function() {
        if (user.get('name')) {
          socket.emit('deregister me', user.get('name'));
        }
      });

      var Login = React.createClass({
        getInitialState: function() {
          user.fetch();
          return {username: user.get('name')};
        },
        handleSubmit: function(e) {
          e.preventDefault();

          user.set({name: React.findDOMNode(this.refs.username).value});
          user.save();

          socket.emit('register me', user.get('name')); //move to model?
          this.setState({username: user.get('name')});
        },
        render: function() {
          var extraProps = {};
          if (this.state.username) {
            extraProps.value = this.state.username;
            extraProps.disabled = true;
          }
      
          return (
            <div>
              <h1>Chat Server</h1>
              <form onSubmit={this.handleSubmit}>
                <label>Name: <input type="text" placeholder="username" ref="username" {...extraProps} />
                </label>
              </form>
            </div>
          );
        }
      });

      var Population = React.createClass({
        // state is map from username => (const)1
        getInitialState: function() {
          return {};
        },
        componentDidMount: function() {
          socket.on('register one', function(username) {
            if (username != user.get('name')) {
              var obj = {}
              obj[username] = 1;
              this.setState(obj);
            }
          }.bind(this));
          socket.on('deregister one', function(username) {
            var obj = $.extend({}, true, this.state);
            delete(obj[username]);
            this.replaceState(obj);
          }.bind(this));
        },
        render: function() {
          if (Object.keys(this.state).length == 0)
            return <p>No Other Users Online</p>;

          return (
            <div>
              {Object.keys(this.state).sort().map(function (username) {
                return <a href="#" onClick={this.props.openConversation(username)}>{username}</a>;
              }.bind(this))}
            </div>
          );
        }
      });

      var Conversation = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var messageBox = React.findDOMNode(this.refs.message);
          socket.emit('message', {
            from: user.get('name'),
            recipient: this.props.username,
            message: messageBox.value
          });
          messageBox.value = '';
        },
        render: function() {
          return (
            <div className="chatDialog">
              <h4>{this.props.username}</h4>
              <a className="closeDialog" href="#" onClick={this.props.closeConversation(this.props.username)}>x</a>
              <div className="chatBox">
                <div className="chatLog">
                  {this.props.log.map(function (message) {
                    return <p>{message}</p>;
                  })}
                </div>
                <form className="chatForm" onSubmit={this.handleSubmit}>
                  <input type="text" placeholder="message" ref="message" />
                </form>
              </div>
            </div>
          );
        }
      });

      var Conversations = React.createClass({
        // state is map from friend username => list of messages
        getInitialState: function() {
          return {};
        },
        componentDidMount: function() {
          socket.on('message', function(data) {
            this.setState(function(previousState, props) { //must be a better way to do this stuff
              var update = {};
              var msgString = data.from + ': ' + data.message;
              if (data.recipient == user.get('name')) {
                if (!(data.from in previousState))
                  update[data.from] = [msgString];
                else
                  update[data.from] = previousState[data.from].concat([msgString]);
              } else if (data.from == user.get('name')) {
                update[data.recipient] = previousState[data.recipient].concat([msgString]);
              } else {
                console.log('unsolicited message');
              }
              return update;
            });
          }.bind(this));
        },
        openConversation: function(recipient) {
          return function(e) {
            e.preventDefault();
            this.setState(function(previousState, props) { //better way with the extend framework / use backbone?
              if (recipient in previousState)
                return {};

              var obj = {};
              obj[recipient] = [];
              return obj;
            });
          }.bind(this);
        },
        closeConversation: function(recipient) {
          return function(e) {
            e.preventDefault();
            var newState = $.extend({}, true, this.state);
            delete newState[recipient];
            this.replaceState(newState);
          }.bind(this);
        },
        render: function() { /*
          if (! user.get('name'))
            return <p>Please login</p>; */

          return (
            <div>
              <Population openConversation={this.openConversation} />
              {Object.keys(this.state).sort().map(function (username) {
                return <Conversation username={username} log={this.state[username]}
                                     closeConversation={this.closeConversation} />;
              }.bind(this))}
            </div>
          );
        }
      });

      React.render(
        <div>
          <Login />
          <Conversations />
        </div>,
        document.getElementById('content')
      );
    </script>
  </body>
</html>
